{% if consul_node_role == 'server' %}
tls = {
  defaults = {
    ca_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_ca_pubkey }}"
    cert_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_cert_server }}"
    key_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_privatekey_server }}"
    tls_min_version = "{{ consul_install_tls_tls_min_version }}"
    verify_incoming = {{ consul_install_tls_verify_incoming }}
    verify_outgoing = {{ consul_install_tls_verify_outgoing }}
  }

  grpc = {
    verify_incoming = false # Workaround https://github.com/hashicorp/consul/issues/16617
  }

  https = {
    "verify_incoming" = {{ consul_install_tls_https_verify_incoming | lower }}
  }

  internal_rpc = {
    verify_incoming = {{ consul_install_tls_internal_rpc_verify_incoming | lower }}
    verify_server_hostname = {{ consul_install_tls_internal_rpc_verify_server_hostname | lower }}
  }
}

auto_encrypt {
  allow_tls = true
}
{% elif consul_node_role == 'client' %}
tls = {
  defaults = {
    ca_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_ca_pubkey }}"
    cert_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_cert_client }}"
    key_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_privatekey_client }}"
    tls_min_version = "{{ consul_install_tls_tls_min_version }}"
    verify_incoming = {{ consul_install_tls_verify_incoming }}
    verify_outgoing = {{ consul_install_tls_verify_outgoing }}
  }

  grpc = {
    verify_incoming = false # Workaround https://github.com/hashicorp/consul/issues/16617
  }

  https = {
    "verify_incoming" = {{ consul_install_tls_https_verify_incoming | lower }}
  }

  internal_rpc = {
    verify_incoming = {{ consul_install_tls_internal_rpc_verify_incoming | lower }}
    verify_server_hostname = {{ consul_install_tls_internal_rpc_verify_server_hostname | lower }}
  }
}

auto_encrypt {
  tls = true
}
{% elif consul_node_role == 'both' %}
tls = {
  defaults = {
    ca_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_ca_pubkey }}"
    cert_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_cert_server }}"
    key_file = "{{ consul_install_tls_host_certificate_dir }}/{{ consul_install_tls_privatekey_server }}"
    tls_min_version = "{{ consul_install_tls_tls_min_version }}"
    verify_incoming = {{ consul_install_tls_verify_incoming }}
    verify_outgoing = {{ consul_install_tls_verify_outgoing }}
  }

  grpc = {
    verify_incoming = false # Workaround https://github.com/hashicorp/consul/issues/16617
  }

  https = {
    "verify_incoming" = {{ consul_install_tls_https_verify_incoming | lower }}
  }

  internal_rpc = {
    verify_incoming = {{ consul_install_tls_internal_rpc_verify_incoming | lower }}
    verify_server_hostname = {{ consul_install_tls_internal_rpc_verify_server_hostname | lower }}
  }
}
{% endif %}
