{
    "Name": "{{ consul_service_name }}",
    "Address": "{{ consul_service_address }}",
    "EnableTagOverride": {{ consul_operate_enabletagoverride }},
    "ID": "{{ consul_service_name }}",
    "Port": {{ consul_service_port }},
    "TaggedAddresses": {
        "lan_ipv4": {
            "Address": "{{ consul_service_address }}",
            "Port": {{ consul_service_port }}
        },
        "wan_ipv4": {
            "Address": "{{ consul_service_address }}",
            "Port": {{ consul_service_port }}
        }
{% if traefik_tags == true %}
    },
    "Tags": [
        "traefik.enable=true",
{% if traefik_access == 'cloud' %}
{% if traefik_consul_connect == false %}
        "traefik.consulcatalog.connect=false",
{% endif %}
        "traefik.http.routers.{{ service_name }}.tls=true",
        "traefik.http.routers.{{ service_name }}.tls.certresolver=myresolver",
        "traefik.http.routers.{{ service_name }}.tls.options=mintls12@file",
        "traefik.http.routers.{{ service_name }}.entrypoints=https",
        "traefik.http.routers.{{ service_name }}.rule=Host(`{{ fqdn }}`{% if domain_alias is defined %},`{{ domain_alias }}`{% endif %})",
        "traefik.http.middlewares.{{ service_name }}.redirectscheme.scheme=https",
        "traefik.http.middlewares.{{ service_name }}.redirectscheme.permanent=true",
{% if traefik_noindex == false %}
        "traefik.http.middlewares.{{ service_name }}-headers.headers.customResponseHeaders.X-Robots-Tag=all",
{% else %}
        "traefik.http.middlewares.{{ service_name }}-headers.headers.customResponseHeaders.X-Robots-Tag=noindex,nofollow,nosnippet,noarchive,notranslate,noimageindex",
{% endif %}
        "traefik.http.middlewares.{{ service_name }}-headers.headers.customResponseHeaders.Strict-Transport-Security=max-age=63072000",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.frameDeny=true",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.browserXssFilter=true",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.contentTypeNosniff=true",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.stsIncludeSubdomains=true",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.stsPreload=true",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.stsSeconds=31536000",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.forceSTSHeader=true",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.accessControlMaxAge=15552000",
        "traefik.http.middlewares.{{ service_name }}-headers.headers.customFrameOptionsValue=SAMEORIGIN",
{% if security_ip %}
        "traefik.http.middlewares.{{ service_name }}-whistelist.ipwhitelist.sourcerange={{ allow_ip }}/32,127.0.0.1,172.17.0.1",
{% endif %}
{% if security_basic_auth %}
        "traefik.http.middlewares.{{ service_name }}-basicauth.basicauth.users={{ htaccess_user }}:{{ htaccess_password | password_hash('blowfish') }}",
{% endif %}
{% if security_ip and security_basic_auth %}
        "traefik.http.routers.{{ service_name }}.middlewares={{ service_name }}-whistelist@consulcatalog,{{ service_name }}-basicauth@consulcatalog,{{ service_name }}-headers@consulcatalog",
{% elif security_ip and security_basic_auth == false %}
        "traefik.http.routers.{{ service_name }}.middlewares={{ service_name }}-whistelist@consulcatalog,{{ service_name }}-headers@consulcatalog",
{% elif security_ip == false and security_basic_auth %}
        "traefik.http.routers.{{ service_name }}.middlewares={{ service_name }}-basicauth@consulcatalog,{{ service_name }}-headers@consulcatalog",
{% elif security_ip == false and security_basic_auth == false %}
        "traefik.http.routers.{{ service_name }}.middlewares={{ service_name }}-headers@consulcatalog",
{% endif %}
{% endif %}
{% if traefik_access== 'onpremise' %}
{% if traefik_consul_connect == false %}
        "traefik.consulcatalog.connect=false",
    {% endif %}
        "traefik.http.routers.{{ service_name }}.entrypoints=http",
        "traefik.http.routers.{{ service_name }}.rule=Host(`{{ fqdn }}`{% if domain_alias is defined %},`{{ domain_alias }}`{% endif %})",
{% if security_ip %}
        "traefik.http.middlewares.{{ service_name }}-whistelist.ipwhitelist.sourcerange={{ allow_ip }}/32,127.0.0.1,172.17.0.1",
{% endif %}
{% if security_basic_auth %}
        "traefik.http.middlewares.{{ service_name }}-basicauth.basicauth.users={{ htaccess_user }}:{{ htaccess_password | password_hash('blowfish') }}",
{% endif %}
{% if security_ip and security_basic_auth %}
        "traefik.http.routers.{{ service_name }}.middlewares={{ service_name }}-whistelist@consulcatalog,{{ service_name }}-basicauth@consulcatalog",
{% elif security_ip and security_basic_auth == false %}
        "traefik.http.routers.{{ service_name }}.middlewares={{ service_name }}-whistelist@consulcatalog",
{% elif security_ip == false and security_basic_auth %}
        "traefik.http.routers.{{ service_name }}.middlewares={{ service_name }}-basicauth@consulcatalog",
{% endif %}
{% endif %}
{% if metrics_exporter == true%}
        "prometheus.metrics.enable",
{% endif %}
        "app_name={{ app_name }}"
    ]
{% else %}
    }
{% endif %}
}
