- name: Nomad Auto Eligibility Node
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Gather facts to set eligibility
      ansible.builtin.setup:
        filter: ansible_local

    - name: "Nomad | Wait for Nomad started"
      ansible.builtin.wait_for:
        host: "{{ nomad_install_http_ip }}"
        port: {{ nomad_install_http_port }}

    - name: "Nomad | Set Eligibility of node"
      ansible.builtin.shell: nomad node eligibility -enable -self
      environment:
        NOMAD_ADDR: "{{ nomad_install_http_scheme }}://{{ nomad_install_http_ip }}:{{ nomad_install_http_port }}"
        NOMAD_TOKEN: "{% if nomad_acl %}{% raw %}{{ ansible_local.nomad_autoeligibility_token.nomad_autoeligibility_token }}{% endraw %}{% endif %}"
        NOMAD_CACERT: "{% if nomad_tls %}{{ nomad_install_tls_host_certificate_dir }}/{{ nomad_install_tls_ca_pubkey }}{% endif %}"
        NOMAD_CLIENT_CERT: "{% if nomad_tls %}{{ nomad_install_tls_host_certificate_dir }}/{{ nomad_install_tls_cert }}{% endif %}"
        NOMAD_CLIENT_KEY: "{% if nomad_tls %}{{ nomad_install_tls_host_certificate_dir }}/{{ nomad_install_tls_privatekey }}{% endif %}"
