vault {
    enabled = true
    address = "{{ vault_url }}"
    allow_unauthenticated = true
    create_from_role = "{{ vault_create_from_role }}"
    task_token_ttl = ""
    ca_file = ""
    ca_path = ""
    cert_file = ""
    key_file = ""
    tls_server_name = ""
    tls_skip_verify = false
    namespace = ""
    token = "{{ vault_token_create.json.auth.client_token }}"
}
