[http]
  [http.routers]
    [http.routers.{{ fqdn | replace('.','-') }}]
      rule = "Host(`{{ fqdn }}`)"
      service = "{{ fqdn | replace('.','-') }}"
      middlewares = ["basicauth-{{ fqdn | replace('.','-') }}"]
      entryPoints = ["{{ traefik_entrypoints }}"]
    [http.routers.{{ fqdn | replace('.','-') }}.tls]
      certResolver = "{{ traefik_certresolver }}"

    [http.services]
      [http.services.{{ fqdn | replace('.','-') }}]
        [http.services.{{ fqdn | replace('.','-') }}.loadBalancer]
          serversTransport = "{{ fqdn | replace('.','-') }}"
          [[http.services.{{ fqdn | replace('.','-') }}.loadBalancer.servers]]
            url = "{{ nomad_http_scheme }}://{{ traefik_nomad_http_ip }}:{{ nomad_http_port }}"

    [http.serversTransports]
      [http.serversTransports.{{ fqdn | replace('.','-') }}]
        rootCAs = ["{{ nomad_operate_tls_host_certificate_dir }}/{{ nomad_operate_tls_ca_pubkey }}"]
        insecureSkipVerify = true
        [[http.serversTransports.{{ fqdn | replace('.','-') }}.certificates]]
          certFile = "{{ nomad_operate_tls_host_certificate_dir }}/{{ nomad_operate_tls_cert }}"
          keyFile = "{{ nomad_operate_tls_host_certificate_dir }}/{{ nomad_operate_tls_privatekey }}"

    [http.middlewares]
      [http.middlewares.basicauth-{{ fqdn | replace('.','-') }}.basicAuth]
      users = ["{{ traefik_nomad_basic_auth_user }}:{{ traefik_nomad_basic_auth_password | password_hash('blowfish') }}"]
