{
  "JWKSURL": "https://127.0.0.1:4646/.well-known/jwks.json",
{% if nomad_tls == true %}
  "JWKSCACert": "{{ ca_certificate_output.stdout }}",
{% endif %}
  "JWTSupportedAlgs": [{% for item in nomad_install_backend_consul_jwt_algs %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}],
  "BoundAudiences": ["{{ nomad_install_backend_consul_jwt_boundaudiences }}"],
  "ClaimMappings": {
{% for item in nomad_install_backend_consul_jwt_claimmap %}
    "{{ item }}": "{{ item }}"{% if not loop.last %},
{% endif %}
{% endfor %}

  }
}
