consul {
    address      = "{{ nomad_install_backend_consul_http_ip }}:{{ nomad_install_backend_consul_http_port }}"
    grpc_address = "{{ nomad_install_backend_consul_http_ip }}:{{ nomad_install_backend_consul_grpc_port }}"
    ssl = {{ nomad_install_backend_consul_ssl }}
    grpc_ca_file = "{{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_ca_pubkey }}"
    ca_file = "{{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_ca_pubkey }}"
    cert_file = "{{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_cert }}"
    key_file = "{{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_privatekey }}"
    token = "{{ consul_nomad_token | default(ansible_local.consul_nomad_token.consul_nomad_token) }}"
    server_service_name = "{{ nomad_install_backend_consul_server_service_name }}"
    client_service_name = "{{ nomad_install_backend_consul_client_service_name }}"
    tags = []

    auto_advertise = {{ nomad_install_backend_consul_auto_advertise }}

    server_auto_join = {{ nomad_install_backend_consul_server_auto_join }}
    client_auto_join = {{ nomad_install_backend_consul_client_auto_join }}
}
