plugin "docker" {
    config {
{% if docker_tls_configuration == true %}
    	endpoint = "tcp://{{ nomad_install_docker_tcp_listen_address }}:{{ nomad_install_docker_tcp_listen_port }}"

    	tls {
      	  cert = "{{ nomad_install_docker_client_tls_host_certificate_dir }}/{{ nomad_install_docker_client_tls_cert }}"
      	  key  = "{{ nomad_install_docker_client_tls_host_certificate_dir }}/{{ nomad_install_docker_client_tls_privatekey }}"
      	  ca   = "{{ nomad_install_docker_client_tls_host_certificate_dir }}/{{ nomad_install_docker_client_tls_ca_pubkey }}"
    	}
{% else %}
    	endpoint = "unix:///var/run/docker.sock"
{% endif %}

{% if nomad_install_docker_private_registry_state == true %}
        auth {
            config = "{{ nomad_install_docker_private_registry_config }}"
        }
{% endif %}

        allow_privileged = {{ nomad_install_docker_allow_privileged }}

        volumes {
            enabled = {{ nomad_install_docker_volume_enable }}
        }
        allow_caps = [{% for item in nomad_install_docker_client_allow_caps %}"{{ item }}"{% if not loop.last %}, {% endif %}{% endfor %}]

        gc {
        image       = {{ nomad_install_docker_gc_image }}
        image_delay = "{{ nomad_install_docker_gc_image_delay }}"
        container   = {{ nomad_install_docker_gc_container }}

        dangling_containers {
            enabled        = {{ nomad_install_docker_gc_dangling_containers_enabled }}
            dry_run        = {{ nomad_install_docker_gc_dangling_containers_dry_run }}
            period         = "{{ nomad_install_docker_gc_dangling_containers_period }}"
            creation_grace = "{{ nomad_install_docker_gc_dangling_containers_creation_grace }}"
            }
        }
    }
}
