CONSUL_HTTP_ADDR={{ nomad_install_backend_consul_http_ip }}:{{ nomad_install_backend_consul_http_port }}
CONSUL_HTTP_SSL={{ nomad_install_backend_consul_ssl }}
{% if nomad_acl == true %}
CONSUL_HTTP_TOKEN={{ consul_nomad_token }}
{% endif %}
{% if nomad_tls == true %}
CONSUL_GRPC_CACERT={{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_ca_pubkey }}
CONSUL_CACERT={{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_ca_pubkey }}
{% if consul_node_role == 'server' or consul_node_role == 'both' %}
CONSUL_CLIENT_CERT={{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_cert_server }}
CONSUL_CLIENT_KEY={{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_privatekey_server }}
{% elif consul_node_role == 'client' %}
CONSUL_CLIENT_CERT={{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_cert_client }}
CONSUL_CLIENT_KEY={{ nomad_install_backend_consul_tls_host_certificate_dir }}/{{ nomad_install_backend_consul_tls_privatekey_client }}
{% endif %}
{% endif %}
