ANSIBLE_FORCE_COLOR=TRUE

{% raw %}{{ with secret "apps/data/{%endraw%}{{ fqdn }}{% raw %}" }}{%endraw%}

VAULT_TOKEN={% raw %}{{ .Data.data.vault_token }}{%endraw%}

{% raw %}{{ end }}{%endraw%}

{% if vault_token_renew_self == false %}

{% raw %}{{ with secret "apps/data/{%endraw%}{{ fqdn }}{% raw %}" }}{%endraw%}

VAULT_ROOT_TOKEN={% raw %}{{ .Data.data.vault_root_token }}{%endraw%}

{% raw %}{{ end }}{%endraw%}

{% endif %}
