[Unit]
Description=Vault-unseal service
After=vault.service

[Service]
Type=oneshot
Restart=on-failure
ExecStartPre=/bin/bash -c "/usr/bin/sleep 10"
ExecStart=/usr/local/bin/ansible-playbook -i localhost, /root/vault_unseal.yml
User=root
Group=root

[Install]
WantedBy=multi-user.target
